<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="filePattern" source="logging.pattern.file"/>
    <springProperty scope="context" name="consolePattern" source="logging.pattern.console"/>

    <appender name="FILE-APPENDER"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/vms.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${filePattern}</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/vms.%d{yyyy-MM-dd}.log</fileNamePattern>

        </rollingPolicy>

    </appender>



    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${consolePattern}</pattern>
        </encoder>
    </appender>



    <logger name="com.incomm.wmp.gprServices" level="info"
            additivity="false">
        <appender-ref ref="FILE-APPENDER" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="info">
        <appender-ref ref="FILE-APPENDER" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>